<h1>{{data.title}}</h1>

{{{contentHtml}}}

{{#if children}}
  {{#forOwn children}}
    <h2>Year: {{@key}}</h2>
    {{#forOwn this}}
    <div>
      <h3>Month: {{@key}}</h3>

      <div>
        {{#forOwn this}}
        <h4>Day: {{@key}}</h4>

        <ul>
        {{#forOwn this}}
          <li>
            {{this.dir}} - <a href="/{{this.dir}}/{{#if this.data.slug}}{{this.data.slug}}{{else}}{{this.id}}{{/if}}">{{this.data.title}}</a> | {{formatDate this.data.created "cccc dd LLLL, yyyy"}}
          </li>
        {{/forOwn}}
        </ul>

        {{/forOwn}}
      </div>
    </div>
    {{/forOwn}}
  {{/forOwn}}
{{/if}}
