<h1 class="c-page-title">{{data.title}}</h1>

{{#if admin}}
<ul>
<li><a href="/{{storageId}}/create">Create</a>.</li>
</ul>
{{/if}}

{{{contentHtml}}}

{{#if children}}
<h2 class="p-name">Latest stuff and things</h2>
<p class="p-summary">Check out these sick items, baby.</p>
<div class="c-card-grid h-feed">
  {{#each children}}
    <article class="c-note-card h-entry">
      {{!-- <header class="util-sr-only"> --}}
      <svg class="comp-icon comp-icon--float-right"><use xlink:href="{{ getVersionedPath '/svg/defs/svg/sprite.css.svg' }}#assets--svg--{{this.storage}}"></use></svg>
      <h2 class="p-name"><a href="{{this.path}}" class="u-url">{{this.data.title}}</a></h2>
      {{!-- </header> --}}

      <div class="comp-content">

        <div class="p-summary">
        {{{truncate this.rendered 600}}}
        
        {{#if data.images}}
        {{#each data.images}}
        <a href="/notes/{{../id}}/{{this.file}}/900"><img src="/notes/{{../id}}/{{this.file}}/300" alt="{{this.alt}}"></a>
        {{/each}}
        {{/if}}

        </div>
      </div>

      <footer>
        <p class="c-date--small"><a href="{{this.path}}"><datetime class="dt-published" datetime="{{this.data.created}}">{{formatDate this.data.created "cccc dd LLLL, yyyy"}}</datetime></a></p>
      </footer>

    </article>
  {{/each}}
</div>
{{/if}}
