<h1 class="c-page-title">{{data.title}}</h1>

{{#if admin}}
<a href="/{{id}}/create">Create</a>.
{{/if}}

{{{content}}}

{{#if children}}
<section>
  <h2>Latest items</h2>
  <ul>
    {{#each children}}
     <li><a href="{{this.path}}">{{this.data.title}}</a> - {{date data.created "dddd Do MMMM, YYYY"}}</li>
    {{/each}}
  </ul>
</section>
{{/if}}
