<h1 class="c-page-title">{{data.title}}</h1>

{{#if admin}}
<a href="/{{id}}/create">Create</a>.
{{/if}}

{{{content}}}

{{#if children}}
<section>
  <h2>Latest stuff and things</h2>
  <ul class="h-feed">
    {{#each children}}
     <li class="p-name"><a class="u-url" href="{{this.path}}">{{this.data.title}}</a> - {{formatDate this.data.created "cccc dd LLLL, yyyy"}}</li>
    {{/each}}
  </ul>
</section>
{{/if}}
