<h1 class="c-page-title">{{data.title}}</h1>

{{#if admin}}
<ul>
  <li><a href="/{{id}}/create">Create</a></li>
</ul>
{{/if}}

{{{content}}}

{{#if children}}
<h2 class="p-name">Latest notes</h2>
<p class="p-summary">Check out these sick notes, baby.</p>
<div class="c-card-grid h-feed">
  {{#each children}}
    <article class="c-note-card h-entry">
      <h2 class="p-name"><a href="{{this.path}}" class="u-url">{{this.data.title}}</a></h2>

      <div class="comp-content">

        <div class="p-summary">
        {{{this.rendered}}}

        {{#if this.data.images}}
        {{#each this.data.images}}
        <a href="/notes/{{../id}}/{{this.file}}/900"><img src="/notes/{{../id}}/{{this.file}}/300" alt="{{this.alt}}"></a>
        {{/each}}
        {{/if}}
        </div>
      </div>

      <footer>
        <p class="c-date--small"><a href="{{this.path}}"><datetime class="dt-published" datetime="{{this.data.created}}">{{formatDate this.data.created "cccc dd LLLL, yyyy"}}</datetime></a></p>
      </footer>

    </article>
  {{/each}}
</div>
{{/if}}
