<h1 class="c-page-title">{{data.title}}</h1>

{{{content}}}

{{#if children}}
<div class="c-card-grid">
{{#each children}}
<section class="c-note-card">
  <header class="sr-only">
    <h2><a href="{{this.path}}">{{this.data.title}}</a></h2>
  </header>

  <div class="c-content">
  {{{this.rendered}}}

  {{#if data.images}}
  {{#each data.images}}
    <img src="/notes/{{../id}}/{{this.file}}" alt="{{this.alt}}" >
  {{/each}}
{{/if}}
  </div>

  

  <footer>
    <p class="c-date--small"><a href="{{this.path}}">{{date data.created "dddd Do MMMM, YYYY"}}</a></p>
  </footer>

</section>
{{/each}}
</div>
{{/if}}
