
{{#if data.title}}
<h2>{{data.title}}</h2>
{{/if}}

{{#each data.images}}
<img src="/{{../storageType}}/{{../storageId}}/f/{{this.file}}/600" alt="{{this.alt}}">
{{/each}}

{{{extended.content.html}}}

{{#if data.aside}}
<div>
  <hr>
  {{data.aside}}
</div>
{{/if}}
