
{{#if data.title}}
<h2>{{data.title}}</h2>
{{/if}}

{{#each data.image}}
<img src="/{{../storage}}/{{../id}}/f/{{this.file}}" alt="{{this.alt}}">
{{/each}}

{{{contentFormats.html}}}

{{#if data.aside}}
<div>
  <hr>
  {{data.aside}}
</div>
{{/if}}
