<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{data.title}}</title>
  <script>
    // JS Detection Script
    (function (e) { var t = e.documentElement, n = e.implementation; t.className = 'js'; })(document)
  </script>
  <link href="{{ getVersionedPath '/site.webmanifest'}}" rel="manifest">
  <link href="{{ getVersionedPath '/core.css' }}" rel="stylesheet">
  {{#if debug}}
  <link href="{{ getVersionedPath '/highlight.css' }}" rel="stylesheet">
  {{/if}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  {{!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet"> --}}
  {{#if admin}}
  <script src="{{getVersionedPath '/admin.js' }}" async />
  </script>
  {{/if}}
  <meta name="theme-color" content="#ffffff" />
  <link rel="webmention" href="https://webmention.io/whalecoiner.com/webmention" />
  <link rel="pingback" href="https://webmention.io/whalecoiner.com/xmlrpc" />
  <link href="https://twitter.com/sonniesedge" rel="me">
  <link href="https://twitter.com/whalecoiner" rel="me">
  <link href="https://github.com/sonniesedge" rel="me">
  <link href="https://github.com/whalecoiner" rel="me">
  <meta name="title" content="{{data.title}}">
  <link rel="stylesheet" href="/advanced.css"
    media="only print, screen and (min-width: 1vm), only all and (color-gamut: srgb), only all and (color-gamut: p3), only all and (color-gamut: rec2020), only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)"
    id="advanced-stylesheet"> <!-- https://github.com/Fall-Back/CSS-Mustard-Cut -->
  {{!-- <script>
      (function () {
        var linkEl = document.getElementById('advanced-stylesheet');
        if (window.matchMedia && window.matchMedia(linkEl.media).matches) {
          var script = document.createElement('script');
          script.src = 'advanced-script.js';
          script.async = true;
          document.body.appendChild(script);
        }
      })()
  </script> --}}
  {{!-- <script nomodule src="old.browsers.js"></script>
  <script type="module" src="new.browsers.js"></script> --}}
  {{#if data.strapline}}
  <meta name="description" content="{{data.strapline}}">
  {{/if}}

  {{> opengraph}}
</head>

<body>
  {{> user}}
  <header class="c-header">
    {{>nav}}
  </header>
  <main class="c-main">
    {{#if messages.info}}
    <h2>Info</h2>
    <ul>
      {{#each messages.info}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    {{{body}}}
  </main>
  <footer class="c-footer">
    <ul>
      <li>Last deployed: {{buildTime}}</li>
      <li>Source: <a href="https://github.com/whalecoiner/indieweb-express-site">View on Github</a></li>
      <li>Github: <a rel="me" href="https://github.com/whalecoiner">@whalecoiner</a> & <a rel="me" href="https://github.com/sonniesedge">@sonniesedge</a> </li>
      <li>Twitter: <a rel="me" href="https://twitter.com/sonniesedge">@sonniesedge</a></li>
      <li>Instagram: <a rel="me" href="https://instagram.com/sonniesedge">@sonniesedge</a></li>
    </ul>
    <p></p>
  </footer>
  {{>debug}}
</body>

</html>
