<h1>{{data.title}}</h1>

{{{content}}}

{{#if children}}
<section>
  <h2>Latest items</h2>
  <ul>
    {{#each children}}
     <li><a href="/{{this.dir}}/{{#if this.data.slug}}{{this.data.slug}}{{else}}{{this.id}}{{/if}}">{{this.data.title}}</a> - {{formatDate data.created "cccc dd LLLL, yyyy"}}</li>
    {{/each}}
  </ul>
</section>
{{/if}}
