<h1>{{data.title}}</h1>


{{{content}}}


{{#if children}}
  <section>
    <h2>Related nodes</h2>
    <ul>
      {{#each children}}
      <li><a href="/{{this.dir}}/{{this.id}}">{{this.data.title}}</a> - {{this.data.created}}</li>
      {{/each}}
    </ul>
  </section>
{{/if}}
