{{!-- A generic page, for generic people --}}

<h1 class="c-page-title">{{data.title}}</h1>
<p>{{date data.created "dddd Do MMMM, YYYY"}}</p>

{{>strapline value=data.strapline}}

{{#if data.place_name}}at {{data.place_name}}{{/if}}

{{{content}}}

{{#if data.bookmark_of}}
<p><a href="{{data.bookmark_of}}">View the original link</a>.</p>
{{/if}}

{{#if url}}
<p><a href="{{url}}">View the generated item</a>.</p>
{{/if}}

{{#if data.repost_of}}
<p><a href="{{data.repost_of}}">{{data.repost_of}}</a>.</p>
{{/if}}

{{#if data.like_of}}
<p><a href="{{data.like_of}}">{{data.like_of}}</a>.</p>
{{/if}}

{{#if data.quote_of}}
<p><a href="{{data.quote_of}}">{{data.quote_of}}</a>.</p>
{{/if}}

{{#if data.images}}
{{#each data.images}}
<img src="/{{../storage}}/{{../id}}/{{this.file}}" alt="{{this.alt}}">
{{/each}}
{{/if}}

{{#if sections}}
{{#each sections}}
{{>section id=../id storage=../storage data=this.data content=this.content}}
{{/each}}
{{/if}}
