<h1>{{meta.title}}</h1>
<p>{{date meta.created "dddd Do MMMM, YYYY"}}</p>

{{>strapline value=meta.strapline}}

{{#if meta.place_name}}at {{meta.place_name}}{{/if}}

{{{content}}}

{{#if meta.bookmark_of}}
  <p><a href="{{meta.bookmark_of}}">View the original link</a>.</p>
{{/if}}

{{#if meta.repost_of}}
  <p><a href="{{meta.repost_of}}">{{meta.repost_of}}</a>.</p>
{{/if}}

{{#if meta.like_of}}
  <p><a href="{{meta.like_of}}">{{meta.like_of}}</a>.</p>
{{/if}}

{{#if meta.quote_of}}
  <p><a href="{{meta.quote_of}}">{{meta.quote_of}}</a>.</p>
{{/if}}

{{#if meta.images}}
  {{#each meta.images}}
    <img src="/notes/{{../meta.id}}/{{this.file}}" alt="{{this.alt}}" >
  {{/each}}
{{/if}}

{{#if sections}}
  {{#each sections}}
    {{>section}}
  {{/each}}
{{/if}}



{{#if debug}}
<div class="l-debug">
  <h1>Debugging</h1>
  <h2>.meta</h2>
  <pre>
  {{{
    dumpObject meta
  }}}
  </pre>

  {{#if children}}
  <h2>.children</h2>

  <pre>
  {{{
    dumpObject children
  }}}
  </pre>
  {{/if}}

  <h2>.content</h2>
  <pre>
  {{{
    dumpObject content
  }}}
  </pre>
</div>
{{/if}}
