<p>By <a class="p-author h-card" href="{{site.url}}"><img src="{{site.url}}/charlie.png" class="util-icon u-photo" alt=""> {{site.author}}</a> on <a href="{{url}}" class="u-url"><time class="dt-published" datetime="{{data.created}}">{{formatDate data.created "cccc dd LLLL, yyyy"}}</time></a></p>
