{{#if children}}
<h2 class="p-name">Latest</h2>
<p class="p-summary">I crafted all of these items just for you. Yes <em>you</em>.</p>

<div class="c-card-grid h-feed">
  {{#each children}}
    <article class="comp-card h-entry">
      <h2 class="p-name comp-card__title"><svg class="comp-icon comp-icon--float-right"><use xlink:href="{{ getVersionedPath '/svg/defs/svg/sprite.css.svg' }}#assets--svg--{{this.storage}}"></use></svg><a href="{{this.path}}" class="u-url">{{this.data.title}}</a></h2>

      {{#if this.extended.excerpt}}
      <div class="p-summary comp-card__content">
        {{{this.extended.excerpt.html}}}
      </div>
      {{/if}}
    
      <div class="comp-card__img">
        {{#if this.data.images}}
          {{#each this.data.images}}
            {{#if @first}}
              <a href="/{{../storageType}}/{{../storageId}}"><img src="/{{../storageType}}/{{../storageId}}/f/{{this.file}}/300" alt="{{this.alt}}"></a>
            {{else}}
              <a href="/{{../storageType}}/{{../storageId}}"><img src="/{{../storageType}}/{{../storageId}}/f/{{this.file}}/100" alt="{{this.alt}}"></a>
            {{/if}}
          {{/each}}
        {{else}}
          {{#if this.scraped.image}}
          <a href="/{{this.storageType}}/{{this.storageId}}"><img src="/{{this.storageType}}/{{this.storageId}}/f/{{this.scraped.image.filename}}/300" alt=""></a>
          {{else}}
          <a href="/{{this.storageType}}/{{this.storageId}}"><img src="/placeholder.png" alt=""></a>
          {{/if}}
        {{/if}}
      </div>

      <footer class="comp-card__footer">
        <p class="c-date--small"><a href="{{this.path}}"><datetime class="dt-published" datetime="{{this.data.created}}">{{formatDate this.data.created "cccc dd LLLL, yyyy"}}</datetime></a></p>
      </footer>
    </article>
  {{/each}}
</div>
{{/if}}
