<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  <p>Written by <a class="p-author h-card" href="https://whalecoiner.com"><img src="https://whalecoiner.com/charlie.png" class="util-icon u-photo"> Charlie Owen</a> on <a href="{{url}}" class="u-url"><time class="dt-published" datetime="{{data.created}}">{{date data.created "dddd Do MMMM, YYYY"}}</time></a></p>

  {{>strapline value=data.strapline}}

  <div class="c-post e-content">
    {{{content}}}

    {{#if sections}}
      {{#each sections}}
      {{>section id=../id storage=../storage data=this.data content=this.content}}
      {{/each}}
    {{/if}}
  </div>

  <div class="p-bridgy-twitter-content u-bridgy-omit-link util-display-none">
  {{#if data.twitter.text}}{{data.twitter.text}}{{else}}{{data.strapline}}{{/if}} {{url}}
  </div>

  {{> tags}}
  {{> syndication}}
  {{> edit}}
  {{> bridgy}}
</article>
