<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  <p>Ideated by <a class="p-author h-card" href="https://whalecoiner.com"><img src="https://whalecoiner.com/charlie.jpg" class="util-icon u-photo"> Charlie Owen</a> on <a href="{{url}}" class="u-url"><time class="dt-published" datetime="{{data.created}}">{{date data.created "dddd Do MMMM, YYYY"}}</time></a></p>

  <div class="c-bandname e-content">
    {{{content}}}
  </div>

  {{> tags}}

  {{> edit}}
</article>
