<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  <p>Written by <a class="p-author h-card" href="https://whalecoiner.com"><img src="https://whalecoiner.com/charlie.png" class="util-icon u-photo"> Charlie Owen</a> on <a href="{{url}}" class="u-url"><time class="dt-published" datetime="{{data.created}}">{{date data.created "dddd Do MMMM, YYYY"}}</time></a></p>

  <div class="c-bookmark e-content">
    {{{content}}}
  </div>

  {{#if data.bookmark_of}}
  <p><a href="{{data.bookmark_of}}" class="u-bookmark-of">View the original link</a>.</p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
