<article class="h-entry">
  <h1 class="c-page-title">{{data.title}}</h1>

  <div class="c-note e-content p-name">
    {{{content}}}
  </div>

   {{> author}}

  {{#if data.images}}
  {{#each data.images}}
  <img src="/notes/{{../id}}/{{this.file}}/900" class="u-photo" alt="{{this.alt}}">
  {{/each}}
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
