
<h1>{{date data.created "dddd Do MMMM, YYYY"}}</h1>

<div class="c-note">
  {{{content}}}
</div>

{{#if data.images}}
  {{#each data.images}}
    <img src="/notes/{{../id}}/{{this.file}}/900" alt="{{this.alt}}" >
  {{/each}}
{{/if}}

{{> tags}}
