<article class="h-entry">
  <h1 class="c-page-title">{{data.title}}</h1>

  <div class="comp-note e-content p-name">
    {{{content.html}}}
  </div>

   {{> author}}

  {{#if data.images}}
  {{#each data.images}}
  <img src="/notes/{{../storageId}}/f/{{this.file}}/900" class="u-photo" alt="{{this.alt}}" width="{{this.width}}" height="{{this.height}}">
  {{/each}}
  {{/if}}

  {{> twitter}}
  {{> syndications}}
  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
