<article class="h-entry">
  <h1 class="c-page-title p-name">{{data.title}}</h1>

  {{> author}}

  <div class="c-quote e-content">
    {{{content}}}
  </div>

  <div class="c-quote-text">
    {{{data.quote}}}
  </div>

  {{#if data.quote_of}}
  <p><a href="{{data.quote_of}}">{{data.quote_of}}</a>.</p>
  {{/if}}

  {{> tags}}
  {{> edit}}
  {{> bridgy}}
</article>
