<h1 class="c-page-title">{{data.title}}</h1>

<p>{{date data.created "dddd Do MMMM, YYYY"}}</p>

<div class="c-quote">
  {{{content}}}
</div>

<div class="c-quote-text">
  {{{data.quote}}}
</div>

{{#if data.quote_of}}
<p><a href="{{data.quote_of}}">{{data.quote_of}}</a>.</p>
{{/if}}

{{> tags}}
{{> edit}}
