<h1 class="c-page-title">{{data.title}}</h1>

<p>{{date data.created "dddd Do MMMM, YYYY"}}</p>

<div class="c-reply">
  {{{content}}}
</div>

<p>In reply to <a href="{{data.reply_to}}">{{data.reply_to}}</a></p>
