<h1 class="c-page-title">{{data.title}}</h1>

{{data.created}}

<div class="c-repost">
  {{{content}}}
</div>

{{#if data.repost_of}}
<p><a href="{{data.repost_of}}">{{data.repost_of}}</a>.</p>
{{/if}}

{{> tags}}
