{{#if syndications}}
<h2>Existing syndications</h2>
<ul class="comp-syndication-list">
  {{#each syndications}}
  <li><a href="{{this.url}}">{{this.silo}}</a - {{this.created}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if syndicationSilosMissing}}

<pre class="hljs"><code>{{{dumpObject syndicationSilosMissing}}}</code></pre>

<div class="c-form-row">
  <h2>Syndication</h2>
  <p>Syndicate to selected silos.</p>
  <div class="c-checkbox-group">
    {{#each syndicationSilosMissing}}
    <input type="checkbox" value="true" id="syndicate_to_{{this.id}}" name="syndicate_to[{{this.id}}]" {{#if this.syndicate }}checked{{/if}}>
    <label for="syndicate_to_{{this.id}}">{{capitalize this.id}} {{#if this.syndicate }}(assumed){{/if}}</label>
    {{/each}}
  </div>
</div>
{{/if}}

<details>
  <summary>Syndication - Additional</summary>
  <div class="c-form-row {{#if errors.manual_syndication}}c-form-row--error{{/if}}">
    <label for="manual_syndication" class="c-form-title">Manual syndication</label>
    <p>Add content that has already been manually syndicated elsewhere.</p>
    <input type="text" id="manual_syndication" name="manual_syndication"
      class="c-form-texty {{#if errors.manual_syndication}}c-form-texty--error{{/if}}"
      value="{{state.manual_syndication}}">
    {{#if errors.manual_syndication}}
      <p class="comp-error">ERROR! {{errors.manual_syndication}}</p>
    {{/if}}
  </div>
</details>
