<h1 class="c-page-title">{{data.title}}</h1>

{{{content.html}}}

{{#if rawError}}
<h2>Errors</h2>
<pre class="hljs"><code>{{{dumpObject rawError}}}</code></pre>
{{/if}}

{{#if url}}
<p><a href="{{url}}">{{url}}</a>.</p>
{{/if}}
