<h1 class="c-page-title">{{data.title}}</h1>

{{{content}}}

<script>
  function swapValuesTitleAndUrl(){
    var tmp = document.getElementById("title").value;
    document.getElementById("title").value = document.getElementById("url").value;
    document.getElementById("url").value = tmp;
  }

    function swapValuesUrlAndText(){
    var tmp = document.getElementById("url").value;
    document.getElementById("url").value = document.getElementById("text").value;
    document.getElementById("text").value = tmp;
  }
</script>

<form method="GET">

  <div class="c-form-row">
    <label for="title" class="c-form-title">Received Title</label>
    <p>This will be sent to the 'title' field of the selected item type.</p>
     <textarea id="title" name="title" class="c-form-texty">{{state.title}}</textarea>
  </div>

  <input type="button" onclick="swapValuesTitleAndUrl()" value="Swap title and Url fields">

  <div class="c-form-row">
    <label for="url" class="c-form-title">Received URL</label>
    <p>This will be sent to the 'url' or Indieweb verb field of the selected item type.</p>
    <textarea id="url" name="url" class="c-form-texty">{{state.url}}</textarea>
  </div>

  <input type="button" onclick="swapValuesUrlAndText()" value="Swap URL and text fields">

  <div class="c-form-row">
    <label for="url" class="c-form-title">Received Text</label>
    <p>This will be sent to the 'content' field of selected item type.</p>
    <textarea id="text" name="text" class="c-form-texty">{{state.text}}</textarea>
  </div>


  
  <div class="c-button-group">
    <button formaction="/bookmarks/create" class="c-button c-button-primary">Bookmark</button>
    <button formaction="/notes/create" class="c-button c-button-primary">Note</button>
    <button formaction="/likes/create" class="c-button c-button-primary">Like</button>
    <button formaction="/replies/create" class="c-button c-button-primary">Reply</button>
    <button formaction="/quotes/create" class="c-button c-button-primary">Quote</button>
    <button formaction="/reposts/create" class="c-button c-button-primary">Repost</button>
  </div>
</form>

{{#if body}}
<h2>State</h2>
<pre class="hljs"><code>{{{dumpObject state}}}</code></pre>
{{/if}}
