<h1 class="c-page-title">{{data.title}}</h1>

{{content}}

<form method="GET">

  <div class="c-form-row">
    <label for="title" class="c-form-title">Title</label>
    <input type="text" id="title" name="title" class="c-form-texty" value="{{state.title}}">
  </div>

  <div class="c-form-row">
    <label for="url" class="c-form-title">URL</label>
    <input type="text" id="url" name="url" class="c-form-texty" value="{{state.url}}">
  </div>


  <div class="c-form-row">
    <label for="url" class="c-form-title">text</label>
    <textarea id="text" name="text" class="c-form-texty">{{state.text}}</textarea>
  </div>
  
  <div class="c-button-group">
    <button formaction="/bookmarks/create" class="c-button c-button-primary">Use in bookmarks</button>
    <button formaction="/notes/create" class="c-button c-button-primary">Use in notes</button>
    <button formaction="/likes/create" class="c-button c-button-primary">Use in likes</button>
    <button formaction="/replies/create" class="c-button c-button-primary">Use in reply</button>
    <button formaction="/quotes/create" class="c-button c-button-primary">Use in quotes</button>
    <button formaction="/reposts/create" class="c-button c-button-primary">Use in reposts</button>
  </div>
</form>

{{#if body}}
<h2>State</h2>
<pre class="hljs"><code>{{{dumpObject state}}}</code></pre>
{{/if}}
